@page
@model CoreWiki.Pages.BenralizumabModel
@{
    ViewData["Title"] = "Benralizumab";
}

<h1>Benralizumab</h1>
<a href="https://en.wikipedia.org/wiki/Benralizumab">Link to this page in Wikipedia</a>
<hr />
<p>
    Benralizumab (INN, trade name <em>Fasenra</em>) is a <strong><a target="_blank" href="" "https://en.wikipedia.org/wiki/Monoclonal_antibody">monoclonal antibody</a></strong> which developed by MedImmune for the treatment of asthma. <br />
    It is directed against the <em>alpha-chain</em> of the interleukin-5 receptor (CD125).[1]
    <img src="https://www.clinicaltrialsarena.com/wp-content/uploads/sites/33/2019/07/1l-image-Fasenra.jpg" alt="Fasenra (Benralizumab)"/><br />
    Two Phase 3 clinical trials of benralizumab, SIROCCO and CALIMA, reported meeting their primary endpoints in 2016. <br />
    It was approved by the US FDA in November 2017 for the treatment of severe eosinophilic asthma.[2]
    </p>
<p>
    <h2><span style="color: dodgerblue">References</span></h2>
<hr />
<ol>
    <li><small><a target="_blank" href="https://searchusan.ama-assn.org/usan/documentDownload?uri=/unstructured/binary/usan/peramivir.pdf">Statement on an Nonproprietary Name adopted by the USAN Counil: Benralizumab  </a> </small></li>
    <li><small><a target="_blank" href="http://seekingalpha.com/news/3206982-astrazenecas-benralizumab-reduces-asthma-exacerbations-51-percent-two-late-state-studies">AstraZeneca's benralizumab reduces asthma exacerbations up to 51% in two late-state studies. Sept 2016</a></small> </li>
</ol>



</p>
