@page
@model CoreWiki.Pages.BiopharmaceuticalModel
@{
    ViewData["Title"] = "Biopharmaceutical";
}
<div class="top-section">
    <h1>Biopharmaceutical</h1>
    <a href="https://en.wikipedia.org/wiki/Biopharmaceutical">Link to this page in Wikipedia</a>
    <hr />
</div>
<p>
    A biopharmaceutical, also known as a <em><strong>biologic(al) medical product, or biologic</strong></em>, is any pharmaceutical drug product manufactured in, extracted from, or semisynthesized from biological sources. <br />
    They (or their precursors or components) are isolated from <em><strong>living sources—human, animal, plant, fungal, or microbial</strong></em> in two late-state studies.
 </p>
<br />
<div>
    <table>
        <thead>
            <tr>
                <th>USAN/INN</th>
                <th>Trade Name</th>
                <th>Indication</th>
                <th>Technology</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>abatacept</td>
                <td><strong>Orencia</strong></td>
                <td><a target="_blank" href="https://en.wikipedia.org/wiki/Rheumatoid_arthritis">rheumatoid arthritis</a></td>
                <td><a target="_blank" href="https://en.wikipedia.org/wiki/Immunoglobin">immunoglobin CTLA-4 fusion protein</a></td>
            </tr>
            <tr>
                <td>adalimumab</td>
                <td><strong>Humira</strong></td>
                <td><a target="_blank" href="https://en.wikipedia.org/wiki/Ankylosing_spondylitis">ankylosing spondylitis</a></td>
                <td><a target="_blank" href="https://en.wikipedia.org/wiki/Monoclonal_antibody">monoclonal antibody</a></td>
            </tr>
        </tbody>
    </table>
</div>