@page
@model CoreWiki.Pages.DupilumabModel
@{
    ViewData["Title"] = "Dupilumab";
}

<h1>Dupilumab</h1>
<a href="https://en.wikipedia.org/wiki/Dupilumab">Link to this page in Wikipedia</a>
<hr/>
<p>
    Dupilumab, sold under the trade name <strong>Dupixent</strong>, is a monoclonal antibody used for allergic diseases such as eczema (atopic dermatitis) and nasal polyps which result in chronic sinusitis.
    Side effects include allergic reactions, cold sores, and inflammation of the cornea.
    It was developed by Regeneron Pharmaceuticals and Sanofi Genzyme. It received approval from the United States Food and Drug Administration for moderate-to-severe atopic dermatitis in 2017. 
    <br />As of 2017 it costs about <strong><em>US$37,000 per year</em></strong>.
</p>
<p>
    <strong>Contents</strong><br />
                             <ol>
                                 <li>Medical Uses</li>
                                 <li>Side effects</li>
                                 <li>Pharmacology</li>
                                 <ol><li>Mechanism of action</li>
                                     <li>Pharmacokinetics</li>
                                     </ol>
                                 <li>Development</li>
                                 <li>References</li>
                              </ol>
    </p>
    <h2><span style="color: dodgerblue">Medical Uses</span></h2><hr />
    Dupilumab appears to be useful for moderate-to-severe atopic dermatitis for which it is approved in the United States.<br />
    It is also being evaluated for treatment of persistent asthma in adults and adolescents.
<p>
    <h2><span style="color: dodgerblue">Side effects</span></h2><hr />
    Dupilumab causes several side effects including <em>allergic reactions, conjunctivitis, and keratitis</em>.<br />
    There is one reported case of dupilumab triggering <em>hair growth</em> in a patient with complete hair loss.<br />
    This is being investigated as an <em>unintended, but positive side effect</em>.

</p>