
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Destinations and Countries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="jumbotron text-center">
                <h1>Country and Destinations</h1>
                <p>Your Next Vacation is a Few Clicks Away</p>
                <center>
                    <img src="https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=150&w=500" alt="new destination" class="img-responsive" style="width:30%">
                </center>

            </div>
            <center>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/Index">CORE CRUD</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/Index">Home</a></li>
                            <li><a href="/Privacy">Privacy</a></li>
                            <li><a href="/Countries/Index">Countries</a></li>
                            <li><a href="/Destinations/Index">Destinations</a></li>
                            <li><a href="/CountryProfile">Country Profile</a></li>
                            <li><a href="/QuickGlance">Quick Glance</a></li>
                        </ul>
                    </div>
                </nav>
            </center>

            <div class="container">
                <h2>Countries and Destinations</h2>
                <p>Use the navigation bar at the top of the page.</p>
            </div>
            </nav>
    </header>
            <div class="container">
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2019 - CoreCountry - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>

            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            </environment>
            <environment exclude="Development">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
                </script>
            </environment>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
</body>
</html>
